# Introduction To Python

## Why python? 

* Written by Guido van Rossum in 1990.

* Was named after BBC Show **Monty Python's Flying Circus**

* Practical uses of python.

![image.png](attachment:image.png)

## Advantages of Python

* **The Code looks similar to how Humans think.****


* **Python is free and open-source** - open source means that's it's source code is available to public . we can download it , change it ,use it and distribute it. This feature is called FLOSS (Free and open source software.)


* **Portable** - we does not need to change the code that's written in windows operating system to run it on mac or any other operating system.


* **It is well supoorted and has numerous online content.**


* **It is Dynamically typed**  - meand the type of value is decided at runtime , this is why de don't need to specify the data type while decalaring it.


* **It has many powerfull libraries for data manipulation and analysis , data visulatization.**


* **Python has Machine Learning.**

## Downloading and Installing

* It can be downloaded from Python official website download section. - **https://www.python.org/downloads**

* A executable file (.exe) will be download and upon running it python will be installed in machine.

## File Extension  - 
   **.py**

### IDE (Integrated Development Environment) - Is a the Text Editior for writing the Program ( Code ).

## Python Distributions

- Python software foundation does regular releases of python on its offical webstie . we call them standard distribution.

- Other python distribution are downloaded as per person's convenience , they also have many 3^rd party libraries pre installed.

Examples of python distribution - 

* Anaconda from continuum analytics
* Pocket python
* Portable Python - run python from USB device.
* Active python from active state.

## Anaconda Python Distribution

- We can download it from  - https://www.anaconda.com/distribution/  , use graphical installer
- A .exe file will be downloaded ,run it and Anaconda will be installed. 
- Run anaconda distribution.

### Lets have a brief introduction to Anaconda navigator and Jupyter notebook.

### PRINT Command

In [ ]:
print("Hello World") # It is a function

Hello World

In [ ]:
print("Hello World","How r you","I am fine")  # 'shift + tab' after bracket to get info about all parameters

Hello World How r you I am fine

In [ ]:
print("Hello World","How r you","I am fine")
print("This is the second line")

Hello World How r you I am fine
This is the second line

In [ ]:
# Special Character are: - "\" it is known as escape character
# 1) "\n" - It stands for new line
# 2) "\t" - It stands for a tab space

print("Hi","\t","How","\n","r you",sep="")

Hi	How
r you

In [ ]:
# sep stands for seprator - it tells how to split or display all the values in a single print command
# end - it tells where the next print command output will come.

print("Hello World","How r you","I am fine",sep=" ",end="\n")
print("This is the second line")

Hello World How r you I am fine
This is the second line

In [ ]:
print("Hello World","How r you","I am fine",sep="***",end="\n")
print("This is the second line")

Hello World***How r you***I am fine
This is the second line

In [ ]:
print("Hello World","How r you","I am fine",sep="***",end="-----")
print("This is the second line")

Hello World***How r you***I am fine-----This is the second line

In [ ]:
print("Adding 2 no's",5+7,"Adding 3 no's",3+4+5,sep='\n')

Adding 2 no's
12
Adding 3 no's
12

In [ ]:
print("hi how are you  
      ok i am fine ")

SyntaxError: EOL while scanning string literal (<ipython-input-25-0e1413d89b0b>, line 1)

In [ ]:
print("hi how are you \
ok i am fine ")   # \ is known as escape character in python

hi how are you ok i am fine

In [ ]:
print('how r u, whats up')
print("how r u, what's up")

how r u, whats up
how r u, what's up

## Comments in Python

### Comments
They are used for giving a information about anything . They come in action when # i put before a line code

when the program runs seeing the # character the program skips that line.

In [ ]:
# Shortcut for Commenting & uncommenting a code is - ctrl + / (this key is Left side of shift key in keyoard along ? mark)
# select all code - ctrl + a

# print('hello world1')  #This is the print command
# print('hello world1')
# print('hello world1')
# print('hello world1')
# print('hello world1')
# print('hello world1')
# print('hello world1')
print('hello world1')
print('hello world1')
print('hello world1')

hello world1
hello world1
hello world1

## Usage of Triple Quotes

1) Multi-Line comment

2) Multi-Line print

In [ ]:
# 1) Multi-Line comment

'''
print('hello world1')  #This is the print command
print('hello world1')
print('hello world1')
print('hello world1')
print('hello world1')
print('hello world1')
print('hello world1')
print('hello world1')
print('hello world1')
print('hello world1')
'''
print("hi")

hi

In [ ]:
# 2) Multi-Line print

print('''hi how"s are you
ok i am fine
and will meet u tomoorow''')

hi how"s are you
ok i am fine
and will meet u tomoorow

## Data Types

1) **Integer** e.g -- 1,2,3,4,5

2) **float** - These are decimal values   e.g -- 1.1,2.5,3.6

3) **String**  e.g -- 'Hello World'

4) **Boolean** e.g -- True, False

## In-built Functions

1) Type : Tells the data Type or Data Structure of the object.

2) Len : Tells the length of the object.

In [ ]:
type(4444) #  int stands for integer

int

In [ ]:
type(1.25)

float

In [ ]:
type('9999')

str

In [ ]:
type('abcde')

str

In [ ]:
type(True) ## BOOLEAN

bool

In [ ]:
type(False)

bool

In [ ]:
type('abcde')
print(type(9999))
type(False)

<class 'int'>

bool

## len Function

In [ ]:
print(len('ab'))

len('ab c de') # space will also get counted

2

7

In [ ]:
len('9999')

4

In [ ]:
len(9999)

TypeError: object of type 'int' has no len()

In [ ]:
len(True)

TypeError: object of type 'bool' has no len()

### Initializing a Variables / Variable Assignment

In [ ]:
# we are not storing these values anywhere

5+2+6

13

In [ ]:
# num is a variable
'''
Variable Definition: 
In programming, a variable is a value that can change,depending on conditions or on information passed to the program. 
A variable refers to a memory location in your system
'''

num=5+2+6
print(num)

13

In [ ]:
# Rules for Variable naming

# 1) Can not start with number or special characters eg- 5num, 10num, @num
# 2) The variable assignent is always from Right Hand Side (R.H.S) to Left Hand Side(L.H.S) 
# 3) The Variable names should not be reserved keywords such as print, len etc else it will alter the functioning of 
#  the reserved keyword and u need to restart the kernel to restore the origional functioning

#  L.H.S    =  R.H.S

name_of_var_5 = 5+10+50
print(name_of_var_5)

65

In [ ]:
x = 2
X = 5
y = 3
print(x,X,y)

2 5 3

In [ ]:
# x=2,3,3,4  # here x is not a data type it is a data structure called tuple
# print(x,type(x))

In [ ]:
# Multi VARIABLE Assignment

x,y = 2,3  # there should be equal no. on both sides also called unpacking

print(y,x)

3 2

In [ ]:
x,y,a = 2,5,6  # there should be equal no.variables and values on both sides, it is called unpacking

print(x,y,a)

2 5 6

In [ ]:
# display is functionality specific to jupyter notebook, and it displays the output with good spacing & readbility

display(x,y,a)

2

5

6

In [ ]:
type(x)

int

In [ ]:
#z= 2 + 5

z = x + y

In [ ]:
z

7

In [ ]:
x

2

In [ ]:
# variable reassigned
x = 10
type(x)

int

In [ ]:
#x= 10+ 10
x = x + x
x

160

In [ ]:
x=00100.00
x

100.0

In [ ]:
x=00100
x

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (<ipython-input-50-86eb4dbaf198>, line 1)

## Python Delete Command 

**del** keyword is used to delete something

In [ ]:
x,y,z

10

In [ ]:
# del "variable name"

del x,y,z

In [ ]:
x,y,z

NameError: name 'y' is not defined

### Inter-converting string , float and int

**Converting to int**

only the values which are number can be converted to int

In [ ]:
val= 'a'
s = '10'
x=  100
f = 10.0

display(type(val),type(s),type(x),type(f))

str

str

int

float

In [ ]:
int(val)

In [ ]:
int(s), type(int(s))

(10, int)

In [ ]:
display(str(x), str(f))

'100'

'10.0'

In [ ]:
x=str(x)
x

'100'

In [ ]:
display(float(x) , int(f))

100.0

10

### Getting variables details

In [ ]:
%whos

Variable        Type     Data/Info
----------------------------------
X               int      5
Y               int      4
a               int      6
f               float    10.0
name_of_var_5   int      65
num             int      18
s               str      10
val             str      a
x               str      100

# Types of Operators 

1) **Arithmetic Operators**

2) **Assignment  Operators**

3) **Comparsion Operators**

4) **Logical  Operators**

5) **Identity Operators**

6) **Membership Operators**

## 1) Arithmetic Operators

- **+**  : addition

- **-**  : subtraction

- [ * ] : multiplication

- **/**  : float division

- **//** : integer division - gives quoitent

- **%**  : modulus  - gives remainder

-   **   : Exponentiation

In [ ]:
1+1

2

In [ ]:
12 * 3

36

In [ ]:
23 / 3 #-- float division

7.666666666666667

In [ ]:
23 // 3  #--- integer division

7

In [ ]:
3 ** 3     # 3*3*3

27

In [ ]:
17 % 4 ## modulus -- it provides you with the remainder value

1

In [ ]:
# BODMAS RULE FOLLOWED

(2 + 3) * (5 + 5)

# 5 * 10

50

## Assignment Operators
**=**  : assigns a value to a variable

**+=**  : c += a   is equivalent to c = c + a

**- =**  : c -= a   is equivalent to c = c - a

**(*=)**  : c *= a   is equivalent to c = c * a

**/=**  : c /= a   is equivalent to c = c / a

**%=**  : c %= a   is equivalent to c = c % a

**//=**  : c //= a   is equivalent to c = c // a

In [ ]:
x = 1
y = 2

In [ ]:
x += y  # x = x + y
x

3

In [ ]:
x -= y # x = x - y
x

1

In [ ]:
x //= y # x = x // y
x

0

In [ ]:
x /= y # x = x / y
x

0.0

In [ ]:
x *= y # x = x * y 
x

0.0

## Comparison Operators - 

They **compares** the values and returns bool if required

**==** : are equal

**!=** : not equal

**>** : greater than

**<** : samller than

**>=** : greater than or equal to

**<=** : smaller than or equal to

In [ ]:
1 > 2

False

In [ ]:
1 < 2

True

In [ ]:
1>1

False

In [ ]:
1 >= 1

True

In [ ]:
1 <= 4

True

In [ ]:
a=1 # variable assignment

a == 1 # comparision

True

In [ ]:
1!=1

False

In [ ]:
1!=5

True

In [ ]:
'hi' == 'bye'

False

In [ ]:
'hi' != 'bye'

True

In [ ]:
'a' == 'A'

False

In [ ]:
'a' == 'a'

True

## Logic Operators

**and**  = requires both the statements to be true to make the condition True

**or**   = requires any one of the statement to be true to make the condition True

![image.png](attachment:image.png)

In [ ]:
print('True :',int(True),'\nFalse :' ,int(False))

True : 1
False : 0

In [ ]:
# 1  and 1
True and True

True

In [ ]:
True and False

False

In [ ]:
True or False

True

In [ ]:
False or False

False

In [ ]:
(1 < 2) and (2 < 3)
# TRUE  and  TRUE

True

In [ ]:
(1 > 2) and (2 < 3)

False

In [ ]:
(1 > 2) and (2 < 3) and (10 < 8) and (67 == 67)

False

In [ ]:
((1 < 2) and (2 < 3) and (67 == 67)) or (10 < 8) ## True or False

True

In [ ]:
'a' > 'A'  # ASCII VALUES OF THESE CHARACTERS ARE CONSIDERED 'a'=97,  'A'=65

True

In [ ]:
(1 > 2) or ('a' < 'A') or (10 == 10) # F or F or T

True

In [ ]:
(1 == 2) or (2 == 3) # False or False

False

## Getting ASCII Values & Vice Versa

In [ ]:
'''
The function ord() gets the int(ASCII) value of the character, e.g ord('a')
The function chr() gets the character value of the int(ASCII), e.g chr(97)
'''

display( ord('a') , chr(97))

97

'a'

# Data Structures 

* Lists - []

* Dictionaries - {key:value}

* Tuples - ()

* Sets - {}

## Lists
Data Structure that stores any kind of data.

Are recognized by square brackets  [    ]

In [ ]:
# List is Mutable that is it can be modified

x = [1,2,3]
x

[1, 2, 3]

In [ ]:
type(x)

list

In [ ]:
# lIST is a Hetrogenous data structure because you can store different data types(int,str,float,list) in a single list
# whereas Homogeneous Data structures stores single data types only

# a is a nested list because it consist of a list within a list

a = [[1,2],[45,25,43], 89 , 'hi' , 12.0]  
a

[[1, 2], [45, 25, 43], 89, 'hi', 12.0]

In [ ]:
display(len(a), type(a))

5

list

## Indexing

Index is basically positional address of the values present in Data Structure.

Index in python always start from 0, i.e. the positional address of the first value is 0.

In [ ]:
s = 'abcde'

In [ ]:
print("s[0]:",s[0]," \ns[3]:",s[3])

s[0]: a
s[3]: d

In [ ]:
l = [34,28,35,43,'hi']

In [ ]:
print(l[0])

34

In [ ]:
print(l[3])

43

In [ ]:
len(l)

5

In [ ]:
l[4]  # max index val : len(list)-1

'hi'

### Indexing with nested list

In [ ]:
li = [[122,240],[45,25,43],[70,30,100],89,'ko']  # NESTED LIST -- BCZ LIST WITHIN LIST PRESENT

In [ ]:
print(li[0], li[3])

[122, 240] 89

In [ ]:
type(li[0]), type(li[3])

(list, int)

In [ ]:
li[0][1]     # li[0] -- main list index, [1] -- sub list index of [122,240]

240

In [ ]:
li[2][2]

100

In [ ]:
li[1][1]

25

In [ ]:

list_1=[23,45,89,90]

# indexing from front / left to right

# 0, 1, 2, 3
[23,45,89,90]

#indexing from backward direction / right to left

#-4,-3,-2,-1
[23,45,89,90]

# My Value 90 is having 2 Indexes -> 3 and -1

[23, 45, 89, 90]

In [ ]:
li

[[122, 240], [45, 25, 43], [70, 30, 100], 89, 'ko']

In [ ]:
print(li[4], li[-1],sep='\n')

ko
ko

In [ ]:
li[-3][-1]

100

In [ ]:
li[2][2]

100

In [ ]:
li[-3][2]

100

In [ ]:
li[2][-1]

100

### slicing 
sequence [start : end : step = 1 (optional)]

In [ ]:
lis = ['a' ,'b' ,'c' ,'d' ,'e' ,'f' ,'g' ,'h' ,'i' ,'j' ,'k']

In [ ]:
len(lis)

11

In [ ]:
lis[10]

'k'

In [ ]:
print(enumerate(lis),list(enumerate(lis)),sep='\n')

<enumerate object at 0x7f6764102690>
[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e'), (5, 'f'), (6, 'g'), (7, 'h'), (8, 'i'), (9, 'j'), (10, 'k')]

In [ ]:
#lis[start :end: step]
# lis[0:    10:   1]

In [ ]:
lis[0:3]  # start from index 0 and go till index 3 but does not include value of index 3 - values of index 0,1 and 2 will be shown

['a', 'b', 'c']

In [ ]:
lis[6:9]  # values of index 2,3,4 will be shown

['g', 'h', 'i']

In [ ]:
lis[5:8]
#  thing to note is that the element at 8th index is not included
#  in simple terms the END is not included

['f', 'g', 'h']

In [ ]:
lis

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

In [ ]:
lis[0:6:1]      # step is 1 -- there will be no jump

['a', 'b', 'c', 'd', 'e', 'f']

In [ ]:
lis[0:6:2]      # step is 2 -- there will be a jump of 1 element or alternate element will be given

['a', 'c', 'e']

In [ ]:
lis[0:6:3]

['a', 'd']

In [ ]:
lis

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

In [ ]:
# ['start','end','step']
# lis[:end]

lis[:4] # similar to lis[0:4] # default value of start is 0 if no value for start is provided the it will take 0

['a', 'b', 'c', 'd']

In [ ]:
lis[:4:2] # similar to lis[0:4:2]

['a', 'c']

In [ ]:
lis[:8]

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [ ]:
print(list(enumerate(lis)),sep='\n')

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e'), (5, 'f'), (6, 'g'), (7, 'h'), (8, 'i'), (9, 'j'), (10, 'k')]

In [ ]:
# lis [start:]

lis[8:] # [start:end:step] # similar too [8: Go till end including last element]

['i', 'j', 'k']

In [ ]:
lis[1::2] # [start:end:step] [start 1  : Go till last : step 2 i.e 1 element jump]

['b', 'd', 'f', 'h', 'j']

In [ ]:

lis[::2] # [start:end:step] [0 : Go till end : step is 2]

['a', 'c', 'e', 'g', 'i', 'k']

In [ ]:
lis[::1]

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

In [ ]:
lis[::-1] #reverse slicing with step 1

['k', 'j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

In [ ]:
lis[::-2] ##reverse slicing with step 2

['k', 'i', 'g', 'e', 'c', 'a']

In [ ]:
lis

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

In [ ]:
lis[-3:]

['i', 'j', 'k']

In [ ]:
lis[:-3]

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [ ]:
lis

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

# List methods

In [ ]:
lis1 = [1,2,3,4,5]

lis2 = [5,4,3,2,1]

## Append Method

In [ ]:
lis1.append(10) #  adds the element at last of the list

lis1

[1, 2, 3, 4, 5, 10]

In [ ]:
a=1,2,3,4,5,6
lis1.append(a)

In [ ]:
lis1

[1, 2, 3, 4, 5, 10, (1, 2, 3, 4, 5, 6)]

In [ ]:
lis1.append('a')
lis1

[1, 2, 3, 4, 5, 10, (1, 2, 3, 4, 5, 6), 'a']

In [ ]:
lis1.append(lis2)
lis1

[1, 2, 3, 4, 5, 10, (1, 2, 3, 4, 5, 6), 'a', [5, 4, 3, 2, 1]]

In [ ]:
lis1.append(10,20)
lis1

TypeError: ignored

In [ ]:
lis1.append([10,20])
lis1

[1, 2, 3, 4, 5, 10, (1, 2, 3, 4, 5, 6), 'a', [5, 4, 3, 2, 1], [10, 20]]

## Replace Method

In [ ]:
lis1=[1, 2, 3, 4, 5]

In [ ]:
# changing the element by index
lis1[3] = 20

lis1

[1, 2, 3, 20, 5]

## Insert Method

In [ ]:
lis1=[1,2,3,4,5]
lis1

[1, 2, 3, 4, 5]

In [ ]:
# l1.insert(index,element)
lis1.insert(1,'a')
lis1

[1, 'a', 2, 3, 4, 5]

In [ ]:
# l1.insert(index,element)
lis1.insert(0,[90,56,34])
lis1

[[90, 56, 34], 1, 'a', 2, 3, 4, 5]

In [ ]:
lis1[0].insert(2, 100)
print(lis1)

[[90, 56, 100, 34], 1, 'a', 2, 3, 4, 5]

In [ ]:
lis1.insert(,'a')
lis1100

[[90, 56, 100, 34], 1, 'a', 2, 3, 4, 5, 'a']

## Count method

In [ ]:
lis1=[10,40,40,50,10,40]

In [ ]:
lis1.count(10)

2

## Index Method

In [ ]:
lis1

[10, 40, 40, 50, 10, 40]

In [ ]:
lis1.index(10) # Index method gives the index of first occurence in the list and not subsequent once

0

In [ ]:
lis1.index(40)

1

## Remove method

In [ ]:
lis1

[40, 40, 50, 40]

In [ ]:
#  remove(element) searches and removes the very first element not all
lis1.remove(10)
lis1

[40, 40, 50, 40]

In [ ]:
lis1.remove(100)
lis1

ValueError: ignored

In [ ]:
lis1[0].remove(90)
lis1

## POP Method

In [ ]:
lis1=[10,30,50,10,40]

In [ ]:
# lis1.pop(index) , if no index is passed it removes element at -1 index
lis1.pop()

40

In [ ]:
lis1

[10, 30, 50, 10]

In [ ]:
# lis1.pop(index)
lis1.pop(1)

30

In [ ]:
lis1

[10, 50, 10]

In [ ]:
lis1.pop(-2)

50

In [ ]:
lis1

[10, 10]

In [ ]:
lis1.remove(10)
lis1

[10]

## Reverse

In [ ]:
lis1=[[100, 34], 1, 3, 4, 5]

In [ ]:
# reverses the list 
lis1.reverse()   # reversed is a list inbuild function specic to list
lis1

[5, 4, 3, 1, [100, 34]]

In [ ]:
print(reversed(lis1),'\n',list(reversed(lis1)),sep='\n')  # reversed is a python inbuild function not specic to list

<list_reverseiterator object at 0x7f675c041710>


[[100, 34], 1, 3, 4, 5]

## Sort Method

In [ ]:
lis1=[1,2,3,4,5,[100,34]]

In [ ]:
lis1.sort()  # nested list donot support sort method
lis1

TypeError: ignored

In [ ]:
lis1=[98,434,6,56,34]
lis1.sort()                        # ascending order sort
lis1

[6, 34, 56, 98, 434]

In [ ]:
lis1.sort(reverse=True) ## if you want to sort in descending order
lis1

[434, 98, 56, 34, 6]

In [ ]:
lis1=['A','a','z','e','F','100','3','1']  # sorting on basis of ASCII VALUES
lis1.sort()
lis1

['1', '100', '3', 'A', 'F', 'a', 'e', 'z']

In [ ]:
lis1=['A','a','z','e','F','100','3','1'] 
lis2=sorted(lis1)                                      # SORTED is inbuilt python function not specific to list
lis2

['1', '100', '3', 'A', 'F', 'a', 'e', 'z']

In [ ]:
lis1

['A', 'a', 'z', 'e', 'F', '100', '3', '1']

In [ ]:
lis1=['A','a','z','e','F','100','3','1',2,3,4]

lis1.sort()
lis1

# list doesnot do sorting in case of Nested list and a list having combination of Numeric & character

TypeError: ignored

## Extend

In [ ]:
lis1=['1', '100', '3', 'A']  
b=[6,7,10]

In [ ]:
lis1.extend(b)       # Extend is used to merge 2 list and it is auto saving in nature
lis1

['1', '100', '3', 'A', 6, 7, 10]

In [ ]:
lis1=['1', '100', '3', 'A']  
b=[6,7,10]

In [ ]:
lis1.append(b)
lis1

['1', '100', '3', 'A', [6, 7, 10]]

In [ ]:
lis2=lis1+b               # similar to extend 
lis2

['1', '100', '3', 'A', 6, 7, 10]

## Auto Aliasing method

In [ ]:
lis1=['1', '100', '3', 'A', 'F', 'a', 'e', 'z']

In [ ]:
c=lis1    # both the variables c and lis1 will share same memory location due to which change
         # in one varibale will reflect in another
c

['1', '100', '3', 'A', 'F', 'a', 'e', 'z']

In [ ]:
c.append(12)
c

['1', '100', '3', 'A', 'F', 'a', 'e', 'z', 12]

In [ ]:
lis1

['1', '100', '3', 'A', 'F', 'a', 'e', 'z', 12]

In [ ]:
lis1.append(15)
lis1

['1', '100', '3', 'A', 'F', 'a', 'e', 'z', 12, 15]

In [ ]:
c

['1', '100', '3', 'A', 'F', 'a', 'e', 'z', 12, 15]

In [ ]:
c = lis1.copy()

In [ ]:
c

['1', '100', '3', 'A', 'F', 'a', 'e', 'z', 12, 15]

In [ ]:
c.append(12)
c

['1', '100', '3', 'A', 'F', 'a', 'e', 'z', 12, 15, 12]

In [ ]:
lis1

['1', '100', '3', 'A', 'F', 'a', 'e', 'z', 12, 15]

## Clear

In [ ]:
lis1

['1', '100', 'e', 'z', 12, 15]

In [ ]:
# clears the list or delete all elements of the list
lis1.clear()
lis1

[]

In [ ]:
c

['1', '100', '3', 'A', 'F', 'a', 'e', 'z', 12, 15, 12]

## Deleting the list/element

In [ ]:
lis1=['1', '100', '3', 'A', 'F', 'a', 'e', 'z', 12, 15]
del lis1[2:6]
lis1

['1', '100', 'e', 'z', 12, 15]

In [ ]:
del lis1

lis1

NameError: ignored

## Tuple methods

**The difference between tuples and list are that tuples are immutable (means they cannot be changed) where as list are mutable (means they can be changed)**

### Tuples
used for storing any data type.
recoznized by small brackets ().

In [ ]:
a = (1,2,3)
a

(1, 2, 3)

In [ ]:
type(a)

tuple

In [ ]:
type((44)) # It is not a tuple it is just 44 written in brackets.

int

In [ ]:
type((44,))  # it is a tuple ,due to trailing comma after 44 within the brackets.

tuple

In [ ]:
a=()    # Empty Tupple declaration
type(a)

tuple

In [ ]:
a=((1,2),[45,25,43],89,'ko')
type(a)

tuple

**To convert and data type to tuple - use python tuple build in function**

In [ ]:
li = [1,2,3,4,5]
tu = tuple(li)
tu

(1, 2, 3, 4, 5)

In [ ]:
tu[0]

1

In [ ]:
tu.count(2)

1

In [ ]:
tu.index(3)

2

In [ ]:
tu[0:2]

(1, 2)

In [ ]:
tu[0] = 'a'   # this code can be applied on list because list are mutable

TypeError: ignored

In [ ]:
tu.append(10)
tu

AttributeError: ignored

In [ ]:
tu.pop()

AttributeError: ignored

## Python identity operators
They are used to compare objects , not if they are equal , but if they are actually the same object , eith same memory location.

* **is**  - returns true if both objects are same object.

* **is not**  - returns true if both objects are not he same

In [ ]:
type(3) is int  # prefer not to use this operator for comparing values and can be used to compare the identity

True

In [ ]:
type(3) is not int

False

In [ ]:
lis1 = [1,2,3,4]

type(lis1) is list

True

## Python membership operators
They are used to test if the sequence is present in an object.

* **in**  - returns true if a sequence with specified value is present in the object.

* **not in**  - returns true if a sequence with specified value is not present in the object.

In [ ]:
s = 'hello man'

In [ ]:
'i' in s

False

In [ ]:
'hjfff' not in s

True

In [ ]:
a=[1,2,3,4]

print(1 in a, 100 in a, sep='\n')

True
False

## Dictionaries

- Recognized by curly brackets {    }

- They are mutable and can be nested like list and tuples

- They have a key and value pair , so they are also called associative pair

- A given key can only appear once in a dictionary and both key and value can be any data type - str,int,float,tuple,list

- key and value is seperated by a colon(  :  )

- Dictionary are unordered so indexing does not work on it. Instead keys are treated as index. whereas list and tuples are ordered

- when we convert a dictionary to list or a tuple by list() then only keys come in list and tuple not the values

- concatenation cannot be done on dictionary

In [ ]:
d={}    # initalizing a empty dictionary
d

{}

In [ ]:
d = {'name':'sam'   ,  
     'age' :  23 ,
     'hair' : 'black'}
#     key   value

In [ ]:
type(d)

dict

In [ ]:
print(d)

{'name': 'sam', 'age': 23, 'hair': 'black'}

In [ ]:
d[0]       # dictionary does not support indexing bcz they unordered data structure and u will use key to get its value

KeyError: ignored

In [ ]:
d['name']               # method to get value of a key

'sam'

In [ ]:
# adding a new key and value
d['place'] = 'Delhi'
d

{'age': 23, 'hair': 'black', 'name': ('rohit', 'sarthak'), 'place': 'Delhi'}

In [ ]:
d['place']

'Delhi'

In [ ]:
d['place']='London'
d

{'age': 23, 'hair': 'black', 'name': ('rohit', 'sarthak'), 'place': 'London'}

In [ ]:
# changing the value of a key
d['name'] = ('rohit','sarthak')
d

{'age': 23, 'hair': 'black', 'name': ('rohit', 'sarthak'), 'place': 'London'}

In [ ]:
d['education']=[10,12,'graduate','post graduate']
d

{'age': 23,
 'education': [10, 12, 'graduate', 'post graduate'],
 'hair': 'black',
 'name': ('rohit', 'sarthak'),
 'place': 'London'}

In [ ]:
d['work']={'hp':'delhi','dell':'mumbai','amazon':'pune'}
d

{'age': 23,
 'education': [10, 12, 'graduate', 'post graduate'],
 'hair': 'black',
 'name': ('rohit', 'sarthak'),
 'place': 'London',
 'work': {'amazon': 'pune', 'dell': 'mumbai', 'hp': 'delhi'}}

In [ ]:
display(d['work']['amazon'])

'pune'

In [ ]:
d['education'].pop()
d

{'age': 23,
 'education': [10, 12, 'graduate'],
 'hair': 'black',
 'name': ('rohit', 'sarthak'),
 'place': 'London',
 'work': {'amazon': 'pune', 'dell': 'mumbai', 'hp': 'delhi'}}

### Dictionary methods

In [ ]:
d

{'age': 23,
 'education': [10, 12, 'graduate', 'post graduate'],
 'hair': 'black',
 'name': ('rohit', 'sarthak'),
 'place': 'London',
 'work': {'amazon': 'pune', 'dell': 'mumbai', 'hp': 'delhi'}}

In [ ]:
d.keys()

dict_keys(['name', 'age', 'hair', 'place', 'education', 'work'])

In [ ]:
print(d.values())

dict_values([('rohit', 'sarthak'), 23, 'black', 'London', [10, 12, 'graduate'], {'hp': 'delhi', 'dell': 'mumbai', 'amazon': 'pune'}])

In [ ]:
type((d.items()))

dict_items

In [ ]:
print((d.items()))
print(list(d.items()))

dict_items([('name', ('rohit', 'sarthak')), ('age', 6), ('hair', 'black'), ('education', [10, 12, 'graduate']), ('country', 'India')])
[('name', ('rohit', 'sarthak')), ('age', 6), ('hair', 'black'), ('education', [10, 12, 'graduate']), ('country', 'India')]

In [ ]:
d

{'age': 23,
 'education': [10, 12, 'graduate'],
 'hair': 'black',
 'name': ('rohit', 'sarthak'),
 'place': 'London',
 'work': {'amazon': 'pune', 'dell': 'mumbai', 'hp': 'delhi'}}

In [ ]:
d.popitem()      # Last item from dictionary # LIFO

('work', {'amazon': 'pune', 'dell': 'mumbai', 'hp': 'delhi'})

In [ ]:
d

{'age': 23,
 'education': [10, 12, 'graduate'],
 'hair': 'black',
 'name': ('rohit', 'sarthak'),
 'place': 'London'}

In [ ]:
# d.pop(keyname,default_value)  - it removes and returns element from a dictionary having given key. ,
# default_value is to be returned if key does not exist
d.pop('place' , 'Key not present')

'London'

In [ ]:
d

{'age': 23,
 'education': [10, 12, 'graduate'],
 'hair': 'black',
 'name': ('rohit', 'sarthak')}

In [ ]:
# d.pop(keyname,default_value)  - it removes and returns element from a dictionary having given key. ,
# default_value is to be returned if key does not exist
d.pop('yuupppp' , 'this key is not present')

'this key is not present'

In [ ]:
d.pop('yuupppp')

KeyError: ignored

In [ ]:
print(d)

{'name': ('rohit', 'sarthak'), 'age': 23, 'hair': 'black', 'education': [10, 12, 'graduate']}

In [ ]:
# d.update(iterable)  - inserts the specified items to dictionary.
d1 = {'country':'India' , 'age':6}
d.update(d1)
d

{'age': 6,
 'country': 'India',
 'education': [10, 12, 'graduate'],
 'hair': 'black',
 'name': ('rohit', 'sarthak')}

In [ ]:
b={"fruits": 20 ,"Hair":'black'}
z=list(b)
z

{'Hair', 'fruits'}

## Sets
- It is a unordered collection of items, so elements cannot be called by index
- every item is unique (no duplicates)
- To convert a list , tuple, dictionary to the set use inbuild function set()

In [ ]:
a={'A','B','C'}
a

{'A', 'B', 'C'}

In [ ]:
type(a)

set

In [ ]:
a.index('B')

AttributeError: ignored

In [ ]:
a[0]

TypeError: ignored

In [ ]:
a

{'A', 'B', 'C'}

In [ ]:
print(list(a))

['C', 'A', 'B']

In [ ]:
a=[1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2]
a

[1, 2, 3, 1, 2, 1, 2, 3, 3, 3, 3, 2, 2, 2, 1, 1, 2]

In [ ]:
b=set(a)
b

{1, 2, 3}

In [ ]:
b={1,2,3,12,3,4,1}
b

{1, 2, 3, 4, 12}

In [ ]:
a=[[1,2,3,1,2],1,'a','b',-2,+3,3,3,(3,2,2,2,1,1,2)]  # Set does not work on nested list
a=set(a)
a

TypeError: ignored

### Sets methods

In [ ]:
a=[1,2,23,54,1,1,3,5,3,5,7,9,6,2,3,5,1,1,3,5,7,5,3,6,7]
s = set(a)
s

{1, 2, 3, 5, 6, 7, 9, 23, 54}

In [ ]:
# s.remove(element)  removes the element
s.remove(54)
s

{1, 2, 3, 5, 6, 7, 9, 23}

In [ ]:
# s.add(element)  - adds the element
s.add(67)
s

{1, 2, 3, 5, 6, 7, 9, 23, 67}

In [ ]:
s1 = {1,2,3}
s2 = {5,2,6}

s1.difference(s2) # s1 - s2  = only elements in s1 which are not is s2 will be printed

{1, 3}

In [ ]:
s1 = {1,2,3}
s2 = {5,2,6}

s2.difference(s1) # s2-s1 = only elements in s2 which are not is s1 will be printed

{5, 6}

In [ ]:
s1,s2

({1, 2, 3}, {2, 5, 6})

In [ ]:
s2.difference_update(s1)  # updates the s1 place
s2

({1, 2, 3}, {5, 6})

In [ ]:
s1 = {1,2,3}
s2 = {5,2,6}

In [ ]:
s1.intersection(s2)    # it will return common element between s1 & s2

{2}

In [ ]:
s2.intersection(s1)

{2}

In [ ]:
s1.intersection_update(s2)  #updates s1
s1

{2}

In [ ]:
s1 = {1,2,3,5}
s2 = {5,6}

s1.union(s2)

{1, 2, 3, 5, 6}

In [ ]:
s1

{1, 2, 3, 5}

In [ ]:
s1.update(s2) # Merge 2 sets then u will use update command

In [ ]:
s1

{1, 2, 3, 5, 6}

In [ ]:
# Intersection is similar to common numbers
s1={1,2,4}
s2={2,4,5}
s3={0,8,2}

set.intersection(s1,s2,s3)

{2}

In [ ]:
s1.intersection(s2,s3)

{2}

In [ ]:
s3

{0, 2, 8}

In [ ]:
s1

{1, 2, 3, 4}

## Python's In-Build Functions

### Range

* **Syntax**  - range( start = 0(optional) , stop , step = 1 (optional) )

* It is a generator. means to see its output we use list() , tuple() , set() .

* It works only with Integers means it does not support Float. (To use Float numbers we can numpy arange method or we can create a function.)

* All three arguments can be postive or negative.

In [ ]:
range(10)

range(0, 10)

In [ ]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
tuple(range(0,20))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [ ]:
list(range(10,40,2))

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [ ]:
print(list(range(8,-10,-1)))

[8, 7, 6, 5, 4, 3, 2, 1, 0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [ ]:
list(range(0,20,.5))    # Float values are not supported in range function

TypeError: ignored

### Length -  Gives length of the iterable.

**Syntax**   -   len(iterable)

In [ ]:
li = [1,2,3,4,5,1,1]
len(li), type(li)

(7, list)

In [ ]:
li =( 1,2,3,4,5,6,7 )
len(li), type(li)

(7, tuple)

In [ ]:
li={1,2,3,4,5,6,7,1,2,2,4}
len(li), type(li)

(7, set)

In [ ]:
li={'a':1,'b':2}
len(li), type(li)

(2, dict)

### Max and Min  - Gives maximum and minimum value of the iterable

**Syntax** - max( iterable )  ,  min( iterable )

In [ ]:
li=[1,2,3,4,5,6,7,1,2,2,4]

In [ ]:
print(li,max(li),sep='\n')

[1, 2, 3, 4, 5, 6, 7, 1, 2, 2, 4]
7

In [ ]:
max(2,3,5,2,2,4,2,89,'a')

TypeError: ignored

In [ ]:
max('a','A','b')   # based on ASCII Values

'b'

In [ ]:
display(max(98,56,3,4,2,6,7),min(98,56,3,4,2,6,7))

98

2

### round()

Returns the rounded off number of a floating number after the decimal points.

**syntax**  -  round( number , ndigits ) - ndigits - number of digits upto which we want the given number to be rounded off.

ndigits shold be smaller or equal to the number of digits after the decimal. if we put value of ndigit more ot will give same number without rounding it off.

In [ ]:
display(round(1.543), round(1.343))

2

1

In [ ]:
round(1.543333333333 , 1)

1.5

In [ ]:
round(1.54733333333 , 2)

1.55

In [ ]:
round(1.54333 , 3)

1.543

### Variables declared and Size

In [ ]:
%whos

Variable   Type      Data/Info
------------------------------
a          list      n=25
b          dict      n=2
g          list      n=6
l          list      n=4
li         list      n=11
lis1       list      n=3
s          set       {1, 2, 3, 67, 5, 6, 7, 9, 23}
s1         set       {1, 2, 3, 4, 11, 12, 13}
s2         set       {8, 9, 6, 7}
s3         set       {0, 8, 2}
sys        module    <module 'sys' (built-in)>
ts         str       1,2,3,4,'a'
z          set       {'fruits', 'Hair'}

In [ ]:
import sys

lis1=[6,8,4]

print(sys.getsizeof(lis1))

96

### Sorted(iterable , key = None , reverse = False)
Returns a list of iterable in ascending order.

works when all the elements in the iterable are of same data type.

In [ ]:
l = [9,8,3,8.5]

In [ ]:
sorted(l)

[3, 8, 8.5, 9]

In [ ]:
sorted(l,reverse=True)

[9, 8.5, 8, 3]

In [ ]:
ts = "1,2,3,4,\'a\'"
sorted(ts)

["'", "'", ',', ',', ',', ',', '1', '2', '3', '4', 'a']

In [ ]:
#  sorting based on index number in nested list

lis1=[[1,5,7],[14,8,1],[9,0,20]]

# sorted(lis1)

sorted(lis1,key=lambda x:x[1])  # X is your sublist here

[[9, 0, 20], [1, 5, 7], [14, 8, 1]]

### enumerate( iterable , start = 0(optional) )
it generates a tuples of the element and its counter(can be said index if start not included) .To view should be called by list() ,for loop , tuple().

In [ ]:
g = [1,2,3,4,'a',8.0]
list(enumerate(g))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 'a'), (5, 8.0)]

In [ ]:
dict(enumerate(g))

{0: 1, 1: 2, 2: 3, 3: 4, 4: 'a', 5: 8.0}

In [ ]:
list(enumerate(g ,100))

[(100, 1), (101, 2), (102, 3), (103, 4), (104, 'a'), (105, 8.0)]

### help(object) - displays the info of object passed in it.

In [ ]:
help(list)

### sum(iterable)
Adds all the elements of the sequence.

In [2]:
l = [1,2,3,4,8]
sum(l)

18

In [3]:
l = ['11','22']
sum(l)

TypeError: ignored

### reversed(sequence) -
Return the reversed iterator of a given sequence. to view pass in list() ,tuple()

In [4]:
l = [9,5,3,55,64,1,3]
reversed(l)

In [5]:
list(reversed(l))

[3, 1, 64, 55, 3, 5, 9]

### zip() 

It takes iterables and aggregates them and returns an iterator of tuple means to have a view we have to pass it through list(), tuple().

It stops aggregates as soon as any sequence ends.

In [9]:
l1 = ['a', 2 , 3 , 4]
l2 = [9  , 8, 'j']

display(len(l1),
        len(l2),
        list(zip(l1,l2)))

4

3

[('a', 9), (2, 8), (3, 'j')]

In [15]:
l1=['a']
l2=['b']
l3=['c']

list((zip(l2,l1,l3)))

[('b', 'a', 'c')]

In [16]:
l1 = ['a', 2 , 3 , 4]
l2 = [9  , 8, 'j']

print(dict(zip(l2,l1)))

{9: 'a', 8: 2, 'j': 3}

## String Data Type

### .split(seperator(optional))
It returns a list of strings after breaking the given string by the seperator.

In [17]:
txt = "a v f v l 1 3 4"
txt.split()

['a', 'v', 'f', 'v', 'l', '1', '3', '4']

In [18]:
txt.split(' ')

['a', 'v', 'f', 'v', 'l', '1', '3', '4']

In [19]:
sent="I love Icecream"
sent.split()

['I', 'love', 'Icecream']

In [20]:
sent="I love Icecream"
sent.split('love')

['I ', ' Icecream']

In [21]:
txt='a|d b|e'
txt.split('|')

['a', 'd b', 'e']

### .replace( old , new , count )
replaces old values with new . works with strings only

In [22]:
s = 'abc abc abc'
s.replace('ab','A')

'Ac Ac Ac'

In [23]:
s

'abc abc abc'

In [24]:
s = 'I like Icecream'
s=s.replace('like','love')
s

'I love Icecream'

In [25]:
s = 'abc abc abc'
s.replace('ab','A',2)

'Ac Ac abc'

## Converting to Upper & Lower Case

In [26]:
s = 'I like Icecream'
s.upper()

'I LIKE ICECREAM'

In [27]:
s

'I like Icecream'

In [28]:
s.lower()

'i like icecream'

In [35]:
s='i like icecream'
s.title()

'I Like Icecream'

In [38]:
s='happy like icecream'
s.capitalize()

'Happy like icecream'

### Join Method

In [37]:
# Join Method is used to Join multiple string object present in an iterator (list, tuple)

' '.join(['a','b','c','d'])

'a b c d'

## While Loops
It repeatedly executes the statement until it is True.

**Syntax**
      while expression:
              statement(s)

They can make infinite loops. to break out of a infinite loop use ctrl+c

In [40]:
# infinite loop
abc = 1
while abc < 5:
  print('abc :',abc)
  print('This is a infinite loop') 
  abc=6

abc : 1
This is a infinite loop

In [45]:
i = 1

while i < 5:
  
    print(i)
    
    i+=1 #     i = i + 1
    
    # print('Value of i increased to',i)

1
2
3
4

In [43]:
i

5

In [48]:
i = 5

while i < 7:
    
    i+=1                        # Inside the While loop

    print("i value is ", i)         # Inside the While loop
    
print('loop end')              # outside the While loop

# TAB Key ------TO GIVE/PROVIDE A ONE TAB SPACE
# SHIFT+ TAB ---TO REMOVE THE ONE TAB SPACE

i value is  6
i value is  7
loop end

## Question

using while loop save all the multiple of 7 from 0 till 500 in a list and then print the entire list a single time

In [49]:
i = 7
n = 501
list1=[]

while i < n:
#     print(i)
    list1.append(i)
    i+=7
    
print(list1)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497]

In [ ]:
bool(1), bool('a'),bool(0),bool('')

(True, True, False, False)

In [56]:
while 0:
    print("hi")

## For Loops
It itereates over a sequence

In [60]:
seq = [1,2,3,4,5,7,'a','b']

for i in seq:
    print(i)

1
2
3
4
5
7
a
b

In [62]:
for i in range(10,20,2):
    print('i :',i)

i : 10
i : 12
i : 14
i : 16
i : 18

In [63]:
lst=[]
for i in range(1,101):
    lst.append(i)

print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [66]:
seq = (1,2,3,4)

for i in seq:

    print('i: ',i)
  
    i += 3
  
    print('updated i: ',i,'\n')

i:  1
updated i:  4

i:  2
updated i:  5

i:  3
updated i:  6

i:  4
updated i:  7

In [73]:
# THE BOTTOM MOST FOR LOOP COMPLETE FIRST THEN FOLLOWED BY A LEVEL ABOVE IT

for i in [1,3]:

    print('************************')
    print('\nparent value of i :',i)
    
    for j in [10,12]:
  
        print('\nChild value of j -------:',j)
        print("i : j = ",i,":",j,'\n')

************************

parent value of i : 1

Child value of j -------: 10
i : j =  1 : 10


Child value of j -------: 12
i : j =  1 : 12

************************

parent value of i : 3

Child value of j -------: 10
i : j =  3 : 10


Child value of j -------: 12
i : j =  3 : 12

In [75]:
for i in [1,3]:                            # parent loop 
  
    for j in [15,17]:                      # child loop - level 1
  
        for k in[10,12]:                   # child loop - level 2
  
            print('\n',i,j,k)

 1 15 10

 1 15 12

 1 17 10

 1 17 12

 3 15 10

 3 15 12

 3 17 10

 3 17 12

## if, else Statements
Runs **if** statement and if the statement fails than **else** statement is run.

if can be alone but else follows a if or while statement.

In [76]:
# IF CONDITION is TRUE then the statement is executed once

if 1 < 2:
    print('Yep!')

Yep!

In [ ]:
# While CONDITION is TRUE then the statement is executed untill the condition become false

while 1 < 2:
    print('Yep!')

In [78]:
if 1 > 2:
    print('Yep!')

In [79]:
age=10

if age >18:
    print('Give Movie ticket')

else:
    print('Give candy')

Give candy

In [80]:
ages=[10, 25 , 35, 17] 

for age in ages:
    
    print(age)
    
    if age >18:
        print('Give Movie ticket') # M

    else:
        print('Give candy') # C

10
Give candy
25
Give Movie ticket
35
Give Movie ticket
17
Give candy

In [81]:
if 100 != 100:
    print('first')
else:
    print('last')

last

**In case of multiple if statements are used than all the if statements will run and the else follows the last if statement and there can be only one else statement.**

In [84]:
x = 10
y = 9

# This IF below is working individually and have no else part
if x < y:
    print('x > y')


# This IF below is working along with the else below it and the IF and else are in pair

if x > 4:
    print('x > 4')
else:
    print('else ran')

x > 4

In [87]:
x = 10
y = 9

if x < y:
    print('1')

if x < 4:
    print ('2')

if y > 3:
    print ('3')

else:
    print('else ran')

3

In [89]:
x = 5
y = 4

if x < y:
    
    print('1')
    
    if x < 4:
        
        print('2')
    
    else:
        print('else 1 ran')

else:
    print('else 2 ran')

else 2 ran

## Code for Even & ODD Number

Save all odd & even numbers till 200 in seprate lists and then print both the list a single time, us for loop with if in one solution and while loop in other.

In [ ]:
even_lst=[]
odd_lst=[]

for i in range(1,201):
    if ((i%2)==0):
        even_lst.append(i)
    else:
        odd_lst.append(i)
    
print('even list',even_lst,'\n\n')
print('odd list',odd_lst)

In [ ]:
even_lst=[]
odd_lst=[]

for i in range(1,101):
    if ((i%2)==0):
        even_lst.append(i)
    if ((i%2)!=0):
        odd_lst.append(i)
    
print('even list',even_lst,'\n\n')
print('odd list',odd_lst)

In [ ]:
# USING WHILE LOOP

even_lst=[]
odd_lst=[]
i=1

while i<101:
    
    if ((i%2)==0):
        even_lst.append(i)
    else:
        odd_lst.append(i)
        
    i+=1
        
    
print('even list',even_lst,'\n\n')
print('odd list',odd_lst)

In [ ]:
# USING WHILE LOOP

even_lst=[]
odd_lst=[]
init=True
i=1

while init:
    
    if ((i%2)==0):
        even_lst.append(i)
    else:
        odd_lst.append(i)
    
    i+=1
    
    if i>100:
        init=False
        
print('even list',even_lst,'\n\n')
print('odd list',odd_lst)

## if ,elif and else statements
* elif = else if
* we use **elif** with **if** statement they can not be used independently.
* if there is **if** and **elif** statements in the program then , if and elif statement breaks the code if they are true.

In [94]:
if 1 == 1:
    print('1')
if 3 == 3:
    print('2')
else:
    print('3')

1
2

In [101]:
age=10

if age<18:
    print('1')

if age<40:                     # elif - else if
    print('2')

if age<60:                     # elif - else if
    print('3')

else:
    print('4')

1
2
3

In [102]:
# elif is used when we have a chain of conditions

age=10

if age<18:
    print('1')

elif age<40:                     # elif - else if
    print('2')

elif age<60:                     # elif - else if
    print('3')

else:
    print('4')

1

In [103]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

In [ ]:
x = 10
y = 8

if x > y:
    print('x > y')
if x > 5:
    print('x > 5')
elif x > 8:
    print('x > 8')
else:
    print('else ran')

In [ ]:
if 1 == 2:
    print('first')
elif 3 == 4:
    print('middle')
elif 3 == 9:
    print('third')
else:
    print('Last')

In [ ]:
# running the code by replacing elif with if
x,y = 10,8

if x > y:
    print('x > y')
if x > 5:
    print('x > 5')
if x < 8:
    print('x > 8')
else:
    print('else ran')

In [ ]:
# running the code by replacing elif with if
x,y = 10,8

if x > y:
    print('x > y')
elif x > 5:
    print('x > 5')
elif x < 8:
    print('x > 8')
else:
    print('else ran')

## Unpacking Iterator using loops

In [105]:
a=[(1,2),(3,4),(5,6)]

for i in a:
    
    print('\ni :',i)
    
    print('i[0] & i[1] :',i[0],',',i[1])

i : (1, 2)
i[0] & i[1] : 1 , 2

i : (3, 4)
i[0] & i[1] : 3 , 4

i : (5, 6)
i[0] & i[1] : 5 , 6

In [106]:
a=[(1,2),(3,4),(5,6)]

for i,j in a:
    
    print('\ni :',i,',j :',j)

i : 1 ,j : 2

i : 3 ,j : 4

i : 5 ,j : 6

In [107]:
a=[(1,2,4),(3,4,5)]

for i,j,x in a:
    
    print('\n i,j,x :',i,j,x)

 i,j,x : 1 2 4

 i,j,x : 3 4 5

### Python Functions
- They are block of codes which run when called upon , they are made to decrease our work for writing the code again and again.

- They start with def which stands for define.

- They have small paranthesis with them followed by colon (:) which gives indentation to next line.

- Indentation is necsaary to make a particular code belong to a function

- They are called by using function name with small brackets and with parameters if defined.

In [109]:
# Function Declaration

# Function without parameters

def todayfunc():
  print('hi')
  print('hello')
  print('hello1')
  print('hello2')
  print('hello3')
  print('hello4')
  print('hello5')

In [110]:
# Function Call
todayfunc()

hi
hello
hello1
hello2
hello3
hello4
hello5

In [112]:
def sci():
    print(5+7+8+3+1)

In [113]:
sci()

24

In [115]:
# Function with Parameter / Arguments i.e - a,b

def addfunction(a,b):
    print('a :',a,'\n','b :',b)
    print('Addition op :',a+b)

In [122]:
addfunction(3,2)

a : 3
 b : 2
Addition op : 5

In [124]:
output=addfunction(3,2)
print('\noutput :',output)

a : 3
 b : 2
Addition op : 5

output : None

In [125]:
output

### return
A return statement causes our function to exit and hand back a value to the caller.

As soon as return is encountered , function exits without running the code written below return in function.

In [ ]:
#  Function with parameters / argurments -- inputs

def addfunction(a,b):
    
    print('a :',a,'\n','b :',b)
    
    add=a + b
    
    print('Addition op :',add)
    
    return add

    print("After return call")

In [ ]:
func_out=addfunction(10,20)
print('\n\nfunc_out :',func_out)

In [ ]:
final_ans=addfunction(func_out,50)
final_ans

## Question

a = [(1,2),(3,4),(4,5)]

using function perform addition of the above list sequence i.e output of (1,2) will be added with addition of (3,4)and so on -- do it using function call in the loop. The output of the solution should be a single number that addition of all the sequence values i.e **19**

In [ ]:
def addfunction(a,b):
    return (a+b)

a=[(1,2),(3,4),(4,5)]

result=0

for i,j in a:
#     print(i,j)
    result+=addfunction(i,j)
#     print(ans)

print("Output of Addition is:",result)

In [ ]:

def add(a,b):
    return a+b
    
def sub(a,b):
    return a-b
    
def mul(a,b):
    return a*b
    
def div(a,b):
    return a/b
    
def collect(c,d):
    va1=add(c,d)
    va2=sub(va1,d)
    va3=mul(va2,d)
    va4=div(va3,d)
    
#     return [va1,va2,va3,va4]
    return locals()

In [ ]:
output=collect(2,4)
print(output)

In [ ]:
va4=output['va4']
print(va4)

In [ ]:
# Function description


def subtraction_function(a,b):
    '''
    function perfroming subtraction 
    
    a: first no
    
    b: second no
    
    '''
    print(a-b)
    
    return a-b

In [ ]:
help(subtraction_function)

In [ ]:
# Function Call  -- press shift+tab to see the description of function
subtraction_function()

In [ ]:
# specifying the parameter default value.

def add(a,b,c=7):
    print('a,b,c :',a,b,c)
    print(a+b+c)


add(5,10)

In [ ]:
add(5,10,25)

In [ ]:
# specifying the parameter default value.

def add(a,b,c=7):
    print('a,b,c :',a,b,c)
    print(a+b+c)


add(b=5,c=10,a=20)

In [ ]:
# area of circle = pi*(r**2)
def area_calc(radius,pi=3.141):
    print('radius :',radius,'pi:',pi)
    print(pi*(radius**2))

area_calc(2)

In [ ]:
# specifying the parameter default value.
def add(a=50,b):
    print(a,b)
    print(a+b)

add(30)

## * Args

In [ ]:
def add(*sales):
    print('a :',sales)
    
#     for i in sales:
#         print(i)
    
    print('sum :',sum(sales))
    return sum(sales)
    
    
add(1,2,3,4,9,7)

In [ ]:
#  return can be used like = - return 1+1  , return a,b , return n > 1(will return boolean value)

## User Input

In [ ]:
name=input("what is your name :")
print(" Hello ",name)

In [ ]:
no=(input("Square of which number  :"))
print(type(no))

no=int(no)
print(type(no))

print(" Square ",no**2)

### Question:
Create a single python function which can perform all calculator operations. You need to take user input for both the number and operation the user want to perform

### break
It breaks the loop and comes out of the loop.

In [ ]:
for i in [10,2,3,4,5,6]:
    print(i)
    break

10

In [ ]:
while True:
    print('hi')
    break

hi

In [ ]:
for i in [10,2,3,4,5,6]:
    if i == 3:
        break
        print(i)
        
    else:
        print(i)

10
2

In [ ]:
for i in [10,2]:
    for j in [5,7,2,1,9]:
        if j ==7:
            break
        else:
            print(i,j)

10 5
2 5

In [ ]:
for i in [10,2]:
    for j in [5,7,2,1,9]:
        print(i,j)
    break

10 5
10 7
10 2
10 1
10 9

In [ ]:
for i in [10,2]:
    for j in [5,7,2,1,9]:
        if j ==7:
            break
        else:
            print(i,j)
    break

10 5

### continue
The continue is preceeded by a condition . if the condition is True than continue will not run the code below and will move back starting step of the loop for processing next step.

In [ ]:
for letter in [10,2,3,4,5,6]:
    
    if letter == 3:
        
        print('before break')
        
        break
        
        print('after break')
        
    else:
        print(letter)

10
2
before break

In [ ]:
for letter in [10,3,4,3,6]:
    
    if letter == 3:
        
        print('before')
        
        continue         # similar to skip the code below and move to next value
        
        print(letter)
        
        print('after')
        
    else:
        print(letter)

10
4
6

### pass 
If nothing is supoosed to happen in a code block , a pass is needed for such a block to not produce error.

In [ ]:
for letter in [10,2,3,4,5,6]:
    
    if letter == 3:
        
        print('before pass')
        
        pass         # Do nothing

        print('after pass')
        
    else:
        print(letter)

10
2
before pass
after pass
4
5
6

In [ ]:
age=2

if age>18:
    print('Give tickets')

if age<18:
    pass

### Exception Handling  
#### try ,except

The python program terminates as soon as it encounters error.In python it can be syntax error or n exception. syntax error occurs when there is incorrect syntax like incomplete brackets , extra brackets ,wrong spelling

It saves you from semantic error and not syntactic error

**try :**

       run this code
       
      
**except:**

       execute this code when there is a exception

In [ ]:
# print('p'/2)       
print(5/0)


# 2 error types
# 1) Syntax - prog lang rules not followed
# 2) Semantic - prog lang rules followed but logic is wrong

ZeroDivisionError: division by zero

In [ ]:
try:
#     print(5/0)
    print('p'/2)
    
except:
    print("Except part running")
    
print('after try except')

Except part running
after try except

In [ ]:
try:
    print('p'/2)
    
except Exception as e:
    
    print('type(e) :',type(e))
    
    print('Exception :',e)


print('\nafter try except outside program running')

type(e) : <class 'TypeError'>
Exception : unsupported operand type(s) for /: 'str' and 'int'

after try except outside program running

In [ ]:
try:
    print(5/5)
except:
    print('hi')

1.0

In [ ]:
try:
    print(5/0)
except:
    print('hi')
    
# if  5>0:
#     print(5/0)
# else:
#     print('hi')

hi

In [ ]:
# Out of TRY & EXCEPT one will run and the Finally will always run

try:
    print(5/0)
    
except:
    print('hi')
    
finally:
    print('finally running')

hi
finally running

In [ ]:
try:
    print(5+5)
    
    try:
        print('p'/2)
    except:
        pass
    
except:
    print('hi')
    
finally:
    print('in finally')

10
in finally

## Installing modules 

In standard distribution .
* In command prompt tye **pip install package**

In anaconda distribution 
* In conda prompttype **conda install package**

## Difference between conda and pip installer
pip installs the python package and dependencies required whether or not those conflict with other package previously installed .eg tensor flow can stop working when pip install a different version of numpy package

But conda does not let this happen , it figures out how t oinstall compatible dependencies.

## AND & OR Functionality

In [ ]:
if (5>0) and (5<2):
    print('Condition ran')

In [ ]:
if (5>0) and (5>2):
    print('(5>0) and (5>2)')

(5>0) and (5>2)

In [ ]:
if (5>0) or (5<2):
    print('(5>0) or (5<2)')

(5>0) or (5<2)

In [ ]:
if (5<0) or (5<2):
    print('(5<0) or (5<2)')

In [ ]:
if ((5>0) or (5<2)) and (5!=15):
    print('statement ran')

statement ran

## Class

In [ ]:
# A class consist of Multiple function declaration in it
# A function consist on Multiple statements such if else and all and won't consist of any other function declaration

class calculator():
    def add(a,b):
        print(a+b)
    def sub(a,b):
        print(a-b)
    def mul(a,b):
        print(a*b)

In [ ]:
calculator.mul(3,4)

12

# PYTHON INTRODUCTION AND BASIS SESSION ENDS